/*******
* 
* Lists
* 
*******/



/* any <UL>,<OL> w/ a .special-iconoir-list-callout class assinged to a <LI> */
ol.has-list-bullet:has(li.special-iconoir-list-callout),
ul.has-list-bullet:has(li.special-iconoir-list-callout) {
  border: 1px solid var(--interactive-accent);
  border-radius: 6px;
  padding-block:10px;
}

/*******
* 
* Callouts
* 
*******/
/* p:not(:has(span.internal-embed.markdown-embed.inline-embed.is-loaded)):has(iconoir-icon[name=iconoir-warning-triangle]) { */
p:not(:has([class*=embed])):has(iconoir-icon[name=iconoir-warning-triangle]) {
  color: var(--text-muted);
  border-radius: 6px;
  border-style: double;
  border-width: 3px;
  border-color: rgba(var(--color-red-rgb), 0.95);
  padding: 5px 11px;
  background-color: rgba(var(--color-red-rgb), 0.08);
  text-align: justify;
}
p:not(span.internal-embed.markdown-embed.inline-embed.is-loaded) iconoir-icon[name=iconoir-warning-triangle] {
  margin-right: 7px;
}
/* ========================== */
p:not(:has([class*=embed])):has(iconoir-icon[name=iconoir-brain]) {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: var(--text-muted);
  border-radius: 6px;
  border: 2px dashed var(--color-purple);
  padding: 9px 18px;
  background-color: rgba(var(--color-purple-rgb), 0.15);
  text-align: justify;
}
p:not(:has(span.internal-embed.markdown-embed.inline-embed.is-loaded)) iconoir-icon[name=iconoir-brain] {
  color:var(--color-purple);
  display:flex;
  margin-right: 7px;
}
p:not(:has(span.internal-embed.markdown-embed.inline-embed.is-loaded)):has(iconoir-icon[name=iconoir-brain]) strong {
  color:var(--color-purple);
  font-size: 1.88em;  
  text-align: center;
  flex-grow: 1;
}
/*******
* 
* Tablies
* 
*******/
/* or "th[data-name=iconoir-heart]" for more specificity */
th.special-iconoir-th-callout {
  text-align: center;
}
/* w/ "th[data-name=iconoir-gift]" for more specificity */
td[data-name=iconoir-gift].special-iconoir-td-callout {
  background-color: rgba(var(--color-green-rgb), 0.2) !important;
  text-align: center;
}
